<div class="movie-card">
  <div class="movie-header" [style.background-image]="'url(' + getImagePath(show.poster_path) + ')'">
  </div><!--movie-header-->
  <div class="movie-content">
    <div class="movie-content-header">
      <p class="movie-title">{{ show.name }}</p>
    </div>
    <div class="movie-info">
      <div class="info-section">
        <label>Release Date</label>
        <span>{{ show.first_air_date.slice(0, 4) }}</span>
      </div><!--date,time-->
      <div class="info-section genres">
        <label>Genres</label>
        <p *ngIf="show.genre_ids[0]">{{ getGenre(show.genre_ids[0]) }}</p>
        <p *ngIf="show.genre_ids[1]">{{ getGenre(show.genre_ids[1]) }}</p>
      </div><!--screen-->
      <div class="info-section">
        <label>Rated</label>
        <span>{{ certification }}</span>
      </div>
      <div class="add-movie">
        <button class="add-button" (click)="onAdd(show)" *ngIf="!showAddBtn">Add</button>
      </div>
    </div>
  </div><!--movie-content-->
</div><!--movie-card-->
