<div class="row">
  <div class="col-xs-12 col-md-6 offset-md-3">
    <div class="alert alert-danger mt-2" *ngIf="error">
      <p class="m-0">{{ error }}</p>
    </div>
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
      <div class="mb-3 mt-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" ngModel name="email" required email>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" ngModel name="password" required minlength="6">
      </div>
      <div class="btn-toolbar">
        <button type="submit" class="btn btn-primary me-2" [disabled]="!authForm.valid">{{ isLoginMode ? "Login" : "Sign Up"}}</button>
        <button type="button" class="btn btn-primary" (click)="onSwitchMode()">Switch to {{ isLoginMode ? "Signup" : "Login"}}</button>
      </div>
    </form>
  </div>
</div>

