<div class="movie_card" id="bright">
  <div class="info_section">
    <div class="movie_header">
      <img class="poster" *ngIf="movie.poster_path" [src]="getImagePath(movie.poster_path)"/>
      <!-- <img class="poster" *ngIf="!movie.poster_path" width="80px" src="../../assets/img/logo.svg"/> -->
      <h3 class="title" *ngIf="movie.title.length < 70; else longTitle">{{ movie.title }}</h3>
      <ng-template #longTitle>
        <h3>
          {{ movie.title.slice(0,70) + '...' }}
        </h3>
      </ng-template>
      <h6 class="pl-2" *ngIf="movie.release_date">{{movie.release_date.slice(0,4)}}</h6>
      <div class="genres">
        <p class="type" *ngFor="let id of movie.genre_ids"><span>{{ getGenre(id) }}</span></p>
      </div>
    </div>
    <div class="movie_desc">
      <p class="text">
        {{ movie.overview.slice(0, 150) + '...' }}
      </p>
    </div>
    <div class="movie_social">
      <ul>
        <li><i class="material-icons">share</i></li>
        <li><i class="material-icons">local_movies</i></li>
        <!-- <li><i class="material-icons" (click)="onSaveMovie(movie)">add</i></li> -->
      </ul>
    </div>
    <button class="btn btn-secondary position-absolute bottom-0 end-0 m-2">View Details</button>
  </div>
  <div *ngIf="movie.backdrop_path" class="blur_back bg-shift" [style.background-image]="'url(' + getImagePath(movie.backdrop_path) + ')'"></div>
  <div *ngIf="!movie.backdrop_path" class="blur_back" ngClass="linear-bg"></div>
</div>
