<div class="movie-card">
  <div class="movie-header" [style.background-image]="'url(' + getImagePath(movie.poster_path) + ')'">
  </div><!--movie-header-->
  <div class="movie-content">
    <div class="movie-content-header">
      <p class="movie-title">{{ movie.title }}</p>
    </div>
    <div class="movie-info">
      <div class="info-section">
        <label>Release Date</label>
        <span>{{ movie.release_date.slice(0, 4) }}</span>
      </div><!--date,time-->
      <div class="info-section genres">
        <label>Genres</label>
        <p *ngIf="movie.genre_ids[0]">{{ getGenre(movie.genre_ids[0]) }}</p>
        <p *ngIf="movie.genre_ids[1]">{{ getGenre(movie.genre_ids[1]) }}</p>
      </div><!--screen-->
      <div class="info-section">
        <label>Rating</label>
        <span>{{ movie.vote_average }}</span>
      </div>
      <div class="add-movie">
        <button class="add-button" (click)="onAdd()">Add</button>
      </div>
      <div class="view-trailer">
        <button class="trailer-button">Trailer</button>
      </div>
    </div>
  </div><!--movie-content-->
</div><!--movie-card-->

