@keyframes ldio-qxwykj0yi7p {
  0% { background: #f8b26a }
  12.5% { background: #f8b26a }
  12.625% { background: #d74828 }
  100% { background: #d74828 }
}
.ldio-qxwykj0yi7p div {
  position: absolute;
  width: 60px;
  height: 60px;
  background: #d74828;
  animation: ldio-qxwykj0yi7p 1s linear infinite;
}
.loadingio-spinner-blocks-er6ro3ebic {
  width: 300px;
  height: 300px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-qxwykj0yi7p {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-qxwykj0yi7p div { box-sizing: content-box; }
