.wrapper {
  max-width: 1500px;
  display: flex;
  justify-content: center;

}

.results-container {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-btn {
  z-index: 0;
}
